<!--!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<!--html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr"-->


<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

 <title>Promotions</title>
 


<style type="text/css">

dd { margin-left: 75px; } 
#mode_margin { margin-left: 0px; }

</style>
 <marquee behavior="scroll" bgcolor="white" loop="-1" width="100%" >
   <i>


</head>

<body>

<!--form id="AriaPay" name="AriaPay" action="https://secure.future.stage.ariasystems.net/api/direct_post.php" method="post"-->   


<form id= "Pay on delivery" action="/path/myfunction" method="post">

<!--form action  method="post"-->

        <dt id>Telephone Number</dt> 
 <dd>

            <input id="telephone_number" type="number" name="telephone_number" value="" size="30"/ required>

        </dd>

        </dd>             

        <dt>Promotions on SuperStar 25% , NikeForce 10% , Airjordan 5%</dt>             

        <div> 
            <!--h2>           
 
                <input type=radio name=formOfPayment id=formOfPayment value=CreditCard />

                    Pay on delivery</h2-->             

        </div>      

            </td>                     


                </tr>                  
            </table>             

        </dd>

       
        </dl>     

</fieldset>     


<fieldset>         
</form>



</body>

</html>

</html>