
  <div class="row"  >
    <div class="jumbotron banner" >
      <div class="container" style="background-image: url('x.jpg');">
        <div class="row" >
          <div class="col-sm-12" >
            <p style='font-size: 45px; text-align: center'>
              Welcome to my Shopping Website!
            </p>
          </div>
        </div>
        <div class="row" >
          <div class="col-sm-4" >
            <div class="jumbotron">

                <h3>Start searching for your favourite products</h3>
                
                <input name="products"
                id="products"
                type="text"
                placeholder="Enter product name..."
                ng-model="selectedProduct"
                uib-typeahead="product.Name for product in Products | filter:$viewValue | limitTo:10"
                class="form-control",
                typeahead-on-select="SetProduct($item.Name)">
                 <br>
                <br>
              <button href="#/products" type="button" class="btn btn-primary" id='btnSearch' ng-click='SearchProducts()'>Search </button>


 
            </div>
          </div>
        </div>
      </div>


    </div>
       <marquee behavior="scroll" bgcolor="white" loop="-1" width="100%" >
   <i>
   
            
   <iframe src="http://free.timeanddate.com/clock/i57epe35/n37/fn7/fs26/tct/pct/ftb/th2" frameborder="0" width="154" height="33" allowTransparency="true"></iframe>


      <!-- <font color="black" >
        Today's date is : <p id="demo"></p>

<script>
document.getElementById("demo").innerHTML = Date();
</script>
 -->

  </div>
 