<!--!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<!--html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr"-->


<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

 <title>Payment</title>
 


<style type="text/css">

dd { margin-left: 75px; } 
#mode_margin { margin-left: 0px; }

</style>

</head>

<body>

<!--form id="AriaPay" name="AriaPay" action="https://secure.future.stage.ariasystems.net/api/direct_post.php" method="post"-->   


<form id= "Pay on delivery" action="/path/myfunction" method="post">

<!--form action  method="post"-->

    <fieldset class="paymethodfieldset"> 
        <dl>   
        <dt>Name </dt> 
        <dd>

            <input id="name" type="text" name="name" value="" size="30"/ required>

        </dd>

        <dt id>Telephone Number</dt> 
 <dd>

            <input id="telephone_number" type="number" name="telephone_number" value="" size="30"/ required>

        </dd>

        </dd>             

        <dt>Address</dt>             

        <dd>

            <input id="address" type="text" name="address" type="text" value="" size="30"/ required>


        </dd>                              
        <dt>Email</dt>             

        <dd> 
 
            <input id="email" type="email" name="email" size="30"/ required>              
 
        </dd>                       

        <div> 
            <!--h2>           
 
                <input type=radio name=formOfPayment id=formOfPayment value=CreditCard />

                    Pay on delivery</h2-->             

        </div>      

            </td>                     


                </tr>                  
            </table>             

        </dd>

       
        </dl>     

</fieldset>     


<fieldset>         
     <dl>              
      <input id = "Check requirements" type="submit" value="Pay on delivery" onclick= "return confirm ('Please fill the requirements');"> </input>

      </dl>
</form>


<!--script>
function myFunction() {
    var myWindow = window.open("", "_self");
    myWindow.document.write("<p>Your Payment is successful</p>");
}
</script-->
        
<button type="Pay on delivery" onclick="alert('your payment was successful')">Pay on delivery!</button>


       <!--button onclick="myFunction()">Submit </button-->

    </dl>     

</fieldset> 
</form> 
</div> 
 
<footer>

<script src="https://secure.ariasystems.net/api/ariaCHD.js"></script>  
<script language="javascript">

          aria.environmentId ="future.stage";


</script>

</footer>

</body>

</html>

</html>