
<html><head>
	<title>Your Shopping Cart</title>
	<style>
	#left{ 
background-color:white;	
font-family:calibri; 
color:black; 
font-size:14; 
width:350px; 
height:1000px;	
float:left;
}

#right{
	background-color:white;	
font-family:calibri; 
color:black; 
font-size:14; 
width:900px; 
height:900px;	
float:right;
}
</style>

</head>
<body>
<div id="left">
<h1><b> Pay with your credit card </b></h1>
<hr>
<h2> Your payment information </h2> 
<form action="demo_form.asp">
First name: <input type="text" name="FirstName"><br><br>
Last name: <input type="text" name="LastName"><br><br>
Card number: <input type="text" name="CardNumber"><br><br>
Card verification number: <input type="text" name="Card verification number"><br><br>
E-mail: <input type="text" name="E-mail"><br><br> 
Expiration Date: <input type="text" name="month"><br><br>
<input type="Submit" value="Pay now"><br><br>

<img src="visa and mastercard.gif" width="300" height="" "400"="" alt="Visa, mastercard or credit card"> 
</form>
</div>

<div id="right">

<h2> Your billing information </h2>
<form action="demo_form.asp">
Address 1: <input type="text" name="Address1"><br><br>
Address 2: <input type="text" name="Address2"><br><br>
City: <input type="text" name="city"><br><br>
Country: <input type="text" name="country"><br><br>
State: <input type="text" name="state"><br><br>
Zip/Postal Code: <input type="text" name="postalcode"><br><br>
Phone: <input type="text" name="phone"><br><br>
 
</form>

</div>



</body></html>