<!DOCTYPE html>
<html ng-app = "reviewApp">
  <head>
<meta charset = "utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<title></title>
<meta name = "description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color:lightgrey;">

 <div ng-controller="reviewsController">
 <h1 style="text-align: center;"> There are {{reviews.length}} reviews</h1>
 <ul>
 <li style="text-align: center;" ng-repeat="review in reviews">
 	{{review.email}}
 </li>
 	
 </ul>
 <form ng-submit="createreview()">
 	<input type="text" placeholder="content" ng-model="reviewemail"></input>
 	<button type="submit">Add Review</button>

 </form>
 </div>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
 
 <script type="text/javascript" src="/js/controllers/reviews-controller.js"></script>

 <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
</body>
</html>