
  <div class="row">
    <div class="jumbotron banner">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p style='font-size: 45px; text-align: center'>
              Welcome to my Shopping Website!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="jumbotron">
                <h3>Start searching for your favourite products</h3>
                
                <input name="products"
                id="products"
                type="text"
                placeholder="Enter product name..."
                ng-model="selectedProduct"
                uib-typeahead="product.Name for product in Products | filter:$viewValue | limitTo:10"
                class="form-control",
                typeahead-on-select="SetProduct($item.Name)">
                 <br>
                <br>
              <button href="#/products" type="button" class="btn btn-primary" id='btnSearch' ng-click='SearchProducts()'>Search </button>
 
            </div>
          </div>
          <div class="col-sm-4">
            <div class="jumbotron">
                <h3>Start searching for your favourite brands .......</h3>
                
                <input name="brands"
                id="brands"
                type="text"
                placeholder="Enter brand name..."
                ng-model="selectedBrand"
                uib-typeahead="brand.Name for brand in Brands | filter:$viewValue | limitTo:10"
                class="form-control",
                typeahead-on-select="SetBrand($item.Name)">
                 <br>
                <br>
              <button href="#/brands" type="button" class="btn btn-primary" id='btnSearch' ng-click='SearchBrands()'>Search </button>
        </div>
      </div>
    </div>
  </div>
 </div>
  </div>